/*===== Google Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@500&display=swap');
/*===== Global CSS =====*/
body {
    margin: 0;
    padding: 0;
    color: rgb(240,240,240);
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 100vw;
    font-family: 'Lateef', serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.tile p {
    font-size: 25px;
}
.share-button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(240,240,240);
}

.share-button svg {
    margin-left: 24px;
    margin-top: 10px;
    color: rgb(0,0,0);
}

.container {
    width: 140%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 70%;
    background-color: rgb(0, 29, 50);
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
    background: linear-gradient(0.25turn, #443266, #B200ED);
}

.tile-share-button {
    margin: 15
	px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(0, 53, 102);
}

.tile-share-button svg {
    margin-left: 30px;
    margin-top: 15px;
}


.image-container {
    margin-top: 24px;
    display: block;
    height: 250px;
    width: 250px;
    border-radius: 70px;
    overflow: hidden;
   
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}